
@{
    ViewBag.Title = "MailDetails";
    MailerGUI.Models.appmail mail = ViewBag.mail;

    
}

<h2>MailDetails</h2>


<table class="table table-bordered">
    <tr>
        <td class="col-md-4">Subject</td>
        <td class="col-md-12">@mail.Subject</td>
    </tr>
    <tr>
        <td>Recipient:</td>
        <td>
            @{
                var recipients = mail.appmailrecipients.ToList();

                foreach (var recipient in recipients)
                {
                    WriteLiteral(recipient.To + "; ");
                }
               
            }

        </td>
    </tr>
    <tr>
        <td>CC:</td>
        <td>
          


                @{
                    foreach (var y in mail.appmailccs)
                    {
                        WriteLiteral(y.To + ";<br/>");
                    }
                }
           
        </td>
    </tr>
    <tr>
        <td>BCC:</td>
        <td>

             @{
                foreach (var y in mail.appmailbccs)
                {
                    WriteLiteral(y.To + ";");
                }
            }

        </td>
    </tr>
    <tr>
        <td>Attachments:</td>
        <td>
            @{
                foreach (var y in mail.appmailattachments)
                {
                    WriteLiteral(y.Filename + ";");
                }
            }
        </td>
    </tr>
    <tr>
        <td>Message</td>
        <td>@Html.Raw(mail.Content)</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>@mail.isSent</td>
    </tr>
</table>




